menu "Framebuffer-less WS2812 driver"

    config ESP2812FBLESS_CUSTOM_RINGBUF
        bool "Use a custom ring buffer implementation"
        default y
        help
            Use a built-in custom ring buffer implementation (recommended).
            It works more efficiently than the generic ring buffer in ESP-IDF.

    config ESP2812FBLESS_PIXEL_BLOCK_SIZE
        int "The number of pixels in a ring buffer block (0-9)"
        depends on ESP2812FBLESS_CUSTOM_RINGBUF
        range 1 9
        default 9
        help
            The pixel data is delivered to the ring buffer in whole blocks.
            - Larger block size improves data transmission efficiency; However,
            if the computation is costly, the risk of frame underflow increases.
            - Smaller block size reduces the latency to complete a whole block;
            But the processing overhead is higher than larger blocks.

            Note that since the free space in FIFO during frame transmission is
            around 9 pixels, block size of 8, 7, 6, 5 are generally *not* good
            choices, because they will leave the FIFO under-utilized, and hence
            increase interrupt frequency.

    choice
        prompt "Default pixel color format"
        default ESP2812FBLESS_PIXEL_GRB888
        help
            Default LED pixel color format.
            Can be changed at runtime during driver setup.

        config ESP2812FBLESS_PIXEL_RGB888
            bool "RGB888"
            help
                8 bit colors [Red, Green, Blue]
        
        config ESP2812FBLESS_PIXEL_RBG888
            bool "RBG888"
            help
                8 bit colors [Red, Blue, Green]

        config ESP2812FBLESS_PIXEL_GRB888
            bool "GRB888"
            help
                8 bit colors [Green, Red, Blue]

        config ESP2812FBLESS_PIXEL_GBR888
            bool "GBR888"
            help
                8 bit colors [Green, Blue, Red]

        config ESP2812FBLESS_PIXEL_BRG888
            bool "BRG888"
            help
                8 bit colors [Blue, Red, Green]

        config ESP2812FBLESS_PIXEL_BGR888
            bool "BGR888"
            help
                8 bit colors [Blue, Green, Red]

    endchoice

endmenu
